swagger: "2.0"
info:
  title: Yahoo APIs
  description: Yahoo Swagger API definition
  version: "1.0.0"
host: query.yahooapis.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
paths:
  /public/yql:
    get:
      summary: Yahoo Query public endpoint
      description: "This is the public endpoint for the YQL API"
      parameters:
        - name: q
          in: query
          description: "Query to execute"
          required: true
          type: string
        - name: format
          in: query
          description: "Return Format, can be json or xml"
          required: true
          type: string
        - name: env
          in: query
          description: "Environment to execute, for community tables it should be: store://datatables.org/alltableswithkeys"
          required: true
          type: string
        - name: callback
          in: query
          description: "Callback when query is executed"
          required: false
          type: string
      tags:
        - Quotes
      responses:
        200:
          description: "A Query result object"
          schema:
            type: object
            $ref: '#/definitions/QueryResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorDefinition'

definitions:
  Quote:
    type: object
    properties:
      symbol:
        type: string
        description: "Symbol of the Quote, eg AAPL or USDEUR=X"
      AverageDailyVolume:
        type: number
        format: double
        description: ""
      Change:
        type: number
        format: double
        description: "How much has it changed since last day"
      DaysLow:
        type: number
        format: double
        description: "Lowest value for the day"
      DaysHigh:
        type: number
        format: double
        description: "Highest value for the day"
      YearLow:
        type: number
        format: double
        description: "Lowest value for the year"
      YearHigh:
        type: number
        format: double
        description: "Highest value for the year"
      MarketCapitalization:
        type: number
        format: double
        description: "Total dollar market value"
      LastTradePriceOnly:
        type: number
        format: double
        description: "Current value"
      DaysRange:
        type: string
        description: "The min - max range"
      Name:
        type: string
        description: "Name of the company or exchange, eg: Apple Inc or USD/EUR"
      Volume:
        type: integer
        format: int32
        description: ""
      StockExchange:
        type: string
        description: ""
  Query:
    type: object
    properties:
      count:
        type: integer
        format: int32
        description: "The query result count"
      created:
        type: string
        format: date-time
        description: "The execution date"
      lang:
        type: string
        description: "Response language"
      results:
        $ref: '#/definitions/QuoteResults'
  QuoteResults:
    type: object
    properties:
      quote:
        type: array
        items:
          $ref: '#/definitions/Quote'
  QueryResponse:
    type: object
    properties:
      query:
        $ref: '#/definitions/Query'
  ErrorDefinition:
    type: object
    properties:
      error:
        $ref: '#/definitions/Error'
  Error:
    type: object
    properties:
      lang:
        type: string
      diagnostics:
        type: string
      description:
        type: string